body 
    background-color #f8f8f8

#wrap
    background-color #f8f8f8

header
    width 100%
    position relative
    background-color #83aaaa
    text-align center
    padding 1em 0
    display block
    z-index 10
    a 
        text-decoration none
    nav
        position absolute
        top 0
        right 0
        margin 0
        padding-top 25px
        ul 
            margin 0
            padding 0
            list-style none
            background-color green
            width 100%
            li
                float left
                position relative
                margin-right 40px
                padding 0
                background-color blue
                opacity 0.5
                a
                    display block
                    width 100%
                    height 100%
            li.twitter
                background url('../img/twitter.png')
                display block
                background-repeat none
                width 32px
                height 22px
                &:hover
                    opacity 1
            li.github
                background url('../img/github.png')
                display block
                background-repeat none
                width 15px
                height 27px
                opacity 0.5
                &:hover
                    opacity 1


#main 
    position relative
    margin-top 100px
    background-color #f8f8f8
    text-align center
    figure
        position relative
        display inline-block
    p 
        font-family 'Lato', sans-serif
        color #777
        font-weight 300
        padding 0 15%
        font-size 2.1em
        line-height 1.5em
        span 
            color #8ac5c5
